version: "3.8"

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always

  monitor:
    build:
      context: ./localMonitor
      dockerfile: Dockerfile
    depends_on:
      - web
    environment:
      - PYTHONUNBUFFERED=1
    command: python main.py --endpoint https://sysmetric.vercel.app/api/monitor --interval 2
    restart: always
